<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Hadas Kotek{% if page.path != 'index.md' %}: {{ page.title }}{% endif %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="initial-scale=1.0">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <!--<script src="js/vendor/modernizr-2.6.2.min.js"></script>-->
    </head>
    <body>

<div id="container">

	<div id="menu">
		<ul>
	{% for item in site.pages %}
			<li {% if item.url == page.url %} class='active'{% endif %}><a href='{{ item.url }}'>
				{% if item.path == 'index.md' %}
					Home
				{% else %}
					{{ item.title }}
				{% endif %}
			</a></li>
	{% endfor %}
		</ul>
	</div>

<div id="content">
{% if page.path != 'index.md' %}
<h1><a href='/'>Hadas Kotek</a> » {{ page.title }}</h1>
{% endif %}

{{ content }}
</div>
</div>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-29612003-2'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
